<ion-view title="{{animal[0].get('name')}}">
  <ion-content has-header="true">
  	<div class="img-back" style="background-image: url('{{foto}}')">
  		<div class="row">
  			<div class="col col-33">
  				<div class="padding"><img src="{{fotoProfile}}" class="img-responsive img-circle img-profile" alt=""></div>
  			</div>
  			<div class="col">
  				<h1>{{animal[0].get('name')}}</h1>
				<h2>{{animal[0].get('species')}}</h2>
				<button class="button button-adopt" ng-if="adopted == 0" ng-click="certificado(animal[0].id);">
					<i class="icon ion-ios-paw-outline"></i> Adopt Me
				</button>
				<button class="button button-adopt" ng-if="adopted == 1">
					<i class="icon ion-ios-paw"></i> Adopted
				</button>
  			</div>
  		</div>
  	</div>
    <div class="card">
	  <div class="item item-text-wrap">
	  	<h1 class="who">Who am I?</h1>
	  	<h2 class="who2">The mischievous and cunning</h2>
	    <p class="who3">Robin Hood is the smallest animal at Parque Loro</p>
	  </div>
	</div>
    <div class="card">
	  <div class="item item-text-wrap">
	    <div class="padding information">
	    <h1 class="who">Basic Information</h1>
			<div class="info">
				<div class="row">
					<div class="col">
						<p class="titulo-info">Name: </p><br>
						<p class="info-info">{{animal[0].get('name')}}</p>
						<br>
						<p class="titulo-info">Description: </p><br>
						<p class="info-info">{{animal[0].get('description')}}</p>
					</div>
					<div class="col">
						<p class="titulo-info">Scientific Name: </p><br>
						<p class="info-info">{{animal[0].get('scientific_name')}}</p>
						<br>
						<p class="titulo-info">Health: </p><br>
						<p class="info-info">{{animal[0].get('health')}}</p>
						<br>
						<p class="titulo-info">Zoo: </p><br>
						<a href="#/bondzu/zoo/{{zoo.id}}"><p class="info-info">{{zoo.get('name')}}</p></a>
						<br>
						<p class="titulo-info">Gender: </p><br>
						<p class="info-info">{{animal[0].get('gender')}}</p>
						<br>
						<p class="titulo-info">Weight: </p><br>
						<p class="info-info">{{animal[0].get('weight')}}</p>
						<br>
						<p class="titulo-info">Height: </p><br>
						<p class="info-info">{{animal[0].get('height')}}</p>
					</div>
				</div>
			</div>
			<!--<h3>Carers</h3>
			<ion-list>
				<ion-item ng-repeat="carer in carers">
			    	<a href="#/bondzu/user/{{carer.id}}">{{carer.get('name')}} {{carer.get('lastname')}}</a>
			  	</ion-item>
			</ion-list>-->
	  	</div>
	  </div>
	</div>
  	<div class="padding">
  		<img ng-if="adopted == 0" src="img/adoptme.png" alt="" class="img-responsive" width="100%" ng-click="certificado(animal[0].id);">
  		<!--<button class="button button-full button-energized" ng-click="adopt(animal[0].get('name'), animal[0].id)">
			Addopt {{animal[0].get('name')}}
		</button>-->
  	</div>
  </ion-content>
</ion-view>