<!--<ion-view title="{{zoo[0].get('name')}}">
  	<ion-content class="padding">
		<div class="list card">

	  <div class="item item-avatar">
	    <img src="http://puebla.goolocal.com.mx/sites/puebla.goolocal.com.mx/files/Zoo%20Parque%20Loro.jpg">
	    <h2>{{zoo[0].get('name')}}</h2>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src="http://puebla.goolocal.com.mx/sites/puebla.goolocal.com.mx/files/Zoo%20Parque%20Loro.jpg">
	    <h2>Location</h2>
	    <p>{{zoo[0].get('location')}}</p>
	    <h2>Description</h2>
	    <p>{{zoo[0].get('description')}}</p>
	    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      Like
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-chatbox"></i>
	      Comment
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>

	</div>
  	</ion-content>
</ion-view>-->
<ion-view title="{{zoo[0].get('name')}}">
  <ion-content has-header="true">
    <div class="img-back" style="background-image: url('http://puebla.goolocal.com.mx/sites/puebla.goolocal.com.mx/files/Zoo%20Parque%20Loro.jpg')">
      <div class="row">
        <div class="col col-33">
          <div class="padding"><img src="http://puebla.goolocal.com.mx/sites/puebla.goolocal.com.mx/files/Zoo%20Parque%20Loro.jpg" class="img-responsive img-circle img-profile" alt=""></div>
        </div>
        <div class="col col-67">
          <h1>{{zoo[0].get('name')}}</h1>
        </div>
      </div>
    </div>
    <div class="padding information">
      <h3>Information</h3>
      <hr>
      <div class="info">
        <p class="titulo-info" style="font-size: 30px">{{zoo[0].get('name')}}</p>
        <br><br>	
        <p class="titulo-info">Location: </p>
        <p class="info-info">{{zoo[0].get('location')}}</p>
        <br>
        <p class="titulo-info">Description: </p>
        <p class="info-info">{{zoo[0].get('description')}}</p>
        <br>
      </div>
    </div>
  </ion-content>
</ion-view>