<ion-view title="{{adoption[0].get('name')}}">
  <ion-content has-header="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getMensajes()">
    </ion-refresher>
    <div class="img-back" style="background-image: url('{{foto}}')">
      <div class="row">
        <div class="col">
          <div class="padding">
            <img src="{{fotoProfile}}" class="img-responsive img-circle img-profile centered" width="60%">
            <p style="color:white; text-align:center; font-size: 28px; font-weight: bold; padding-top: 10px">{{adoption[0].get('name')}}</p>
            <p style="color:white; text-align:center; font-size: 20px">{{adoption[0].get('species')}}</p>
            <p style="color:white; text-align:center; font-size: 20px"><i class="icon ion-ios-paw"></i> Adopted</p>
          </div>
        </div>
      <div class="col">
        <img ng-click="openModal();" src="img/Live-Video.png" class="detail-camera" alt="">
      </div>
      </div>
    </div>
    <div class="tabs tabs-adoption tabs-animal">
      <a class="tab-item" ng-class="{active: tab === 'tab0'}" ng-click="toSlide(0)">
        <i class="icon ion-information-circled"></i>
        <span class="tabs-animal-color">Info</span>
      </a>
      <a class="tab-item" ng-class="{active: tab === 'tab1'}" ng-click="toSlide(1)">
        <i class="icon ion-person-stalker"></i>
        <span class="tabs-animal-color">Friends</span>
      </a>
      <a class="tab-item" ng-class="{active: tab === 'tab2'}" ng-click="toSlide(2)">
        <i class="icon ion-calendar"></i>
        <span class="tabs-animal-color">Agenda</span>
      </a><!--
      <a class="tab-item" ng-class="{active: tab === 'tab3'}" ng-click="toSlide(3)">
        <i class="icon ion-images"></i>
        <span class="tabs-animal-color">Gallery</span>
      </a>-->
      <a class="tab-item" ng-class="{active: tab === 'tab3'}" ng-click="toSlide(3)">
        <i class="icon ion-chatboxes"></i>
        <span class="tabs-animal-color">Forum</span>
      </a>
    </div>
  <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
        <ion-slide>
          <div class="padding information">
            <div class="box1 info" ng-if="data.currSlide === 0 || !data.currSlide">
              <!--<div class="card">
                <div class="item item-text-wrap">
                  <h1 class="who">Who am I?</h1>
                  <h2 class="who2">The mischievous and cunning</h2>
                  <p class="who3">Robin Hood is the smallest animal at Parque Loro</p>
                </div>
              </div>-->
              <div class="item item-text-wrap">
                  <h1 class="who">Basic Info</h1>
                  <div class="row">
                <div class="col">
                  <p class="titulo-info">Name: </p><br>
                  <p class="info-info">{{adoption[0].get('name')}}</p>
                  <br>
                  <p class="titulo-info">Zoo: </p><br>
                  <a href="#/bondzu/zoo_carer/{{zoo.id}}"><p class="info-zoo">{{zoo.get('name')}}</p></a>
                  <br>
                  <p class="titulo-info">Scientific Name: </p><br>
                  <p class="info-info">{{adoption[0].get('scientific_name')}}</p>
                  <br>
                  <p class="titulo-info">Health: </p><br>
                  <p class="info-info">{{adoption[0].get('health')}}</p>  
                </div>
                <div class="col">
                  <p class="titulo-info">Gender: </p><br>
                  <p class="info-info">{{adoption[0].get('gender')}}</p>
                  <br>
                  <p class="titulo-info">Weight: </p><br>
                  <p class="info-info">{{adoption[0].get('weight')}}</p>
                  <br>
                  <p class="titulo-info">Height: </p><br>
                  <p class="info-info">{{adoption[0].get('height')}}</p>
                </div>
              </div>
            </div>
            </div>  
            </div>
          </div>
          <br>
        </ion-slide>

        <ion-slide>
          <div class="padding">
            <div class="box2" ng-if="data.currSlide === 1">
              <div class="list">
                  <a class="item item-thumbnail-left" ng-repeat="carer in carers" href="#/bondzu/carer/{{carer.id}}">
                    <img class="img-responsive img-circle img-adoptions" src="{{carer.get('photo')}}">
                    <h2>{{carer.get('name')}}</h2>
                    <h2>{{carer.get('lastname')}}</h2>
                  </a>
              </div>
            </div>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="card">
              <div class="box3 calendario" ng-if="data.currSlide === 2">
                <section>
                  <div class="alert alert-success" ng-show="event">
                    Event selected:{{event.startTime|date:'MMM/dd,yyyy,HH:mm'}} - {{event.endTime|date:'MMM/dd,yyyy,HH:mm'}}, {{event.title}}
                  </div>
                  <div class="well well-sm">
                      <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                                range-changed="reloadSource(startTime, endTime)"
                                event-selected="onEventSelected(event)"></calendar>
                  </div>
                </section>
              </div>
          </div>
        </ion-slide>
        <!--
        <ion-slide>
          <div class="padding">
            <div class="box4" ng-if="data.currSlide === 3">
              <div class="card">
                <div class="item item-text-wrap">
                  <h1 class="who">Gallery</h1>
                  <div class="row">
                    <div ng-click="openModal()" class="col gallery" style="background-image: url('https://pbs.twimg.com/profile_images/2586664217/o78k5fogx5g3hdy6peai.jpeg'); background-size: cover;">
                    </div>
                    <div class="col gallery" style="background-image: url('http://ichef.bbci.co.uk/naturelibrary/images/ic/credit/640x395/b/be/bear/bear_1.jpg'); background-size: cover;">
                      
                    </div>
                    <div class="col gallery" style="background-image: url('http://cdnvideo.dolimg.com/cdn_assets/7ab7525c93fbf7380f477db791e96a1e74119dfc.jpg'); background-size: cover;">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col gallery" style="background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/11/14/1352905427316/Polar-Bear-009.jpg'); background-size: cover;">
                      
                    </div>
                    <div class="col gallery" style="background-image: url('http://cdn.zmescience.com/wp-content/uploads/2011/11/grizzly-bear.jpg'); background-size: cover;">
                      
                    </div>
                    <div class="col gallery" style="background-image: url('http://www.gannett-cdn.com/-mm-/6011adf450c18428cec2b691d2945a86f1ad41d7/c=111-0-1984-1406&r=x404&c=534x401/local/-/media/USATODAY/USATODAY/2013/08/18/1376863649000-AP-C-BLACK-BEAR.jpg'); background-size: cover;">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide>-->

        <ion-slide>
          <!--<div class="carer-div">
            <p>Ask to his carer @MarianoJiménez everything about {{adoption[0].get('name')}}</p>
          </div>-->
          <div class="box4" ng-if="data.currSlide === 3">
            {{userMessage[0].get('id_user').get('name ')}}
            <div class="list posts">
              <a class="item item-avatar" ng-repeat="message in userMessage" href="#/bondzu/carer/{{message.get('id_user').id}}">
                <img class="img-responsive img-circle" src="{{message.get('id_user').get('photo')}}">
                <h2 class="name-message">{{message.get('id_user').get('name')}} {{message.get('id_user').get('lastname')}}</h2>
                <p class="content-message">{{message.get('message')}}</p>
              </a>
            </div>

            <div class="padding">
              <form ng-submit="postMessage(message)">
                <div class="row">
                  <div class="col col-67">
                    <label class="item item-input item-stacked-label">
                      <input type="text" ng-model="message.message" required id="mes" placeholder="Write a post...">
                    </label>
                  </div>
                  <div class="col col-33">
                    <button class="button button-block button-energized post">
                        <strong>Post</strong>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
  </ion-content>
</ion-view>


<script id="video.html" type="text/ng-template">
  <ion-modal-view>
    <ion-content style="background-color: black">
      <i class="icon ion-close" style="color:white; float:right; padding-right: 15px; font-size: 25px; padding-top: 15px" ng-click="closeModal()"></i>
      <div class="row" style="padding-top:250px">
        <div class="col col-33" ng-if="camerasSize >= 1">
          <!--<p style="color:white" class="text-center">Camera 1</p>-->
          <img ng-click="playVideo(cameras[0].get('url'));" src="img/Live-Video.png" class="center-block">
        </div>
        <div class="col col-33" ng-if="camerasSize >= 2">
          <!--<p style="color:white" class="text-center">Camera 2</p>-->
          <img ng-click="playVideo(cameras[0].get('url'));" src="img/Live-Video.png" class="center-block">
        </div>
        <div class="col col-33" ng-if="camerasSize >= 3">
          <!--<p style="color:white" class="text-center">Camera 3</p>-->
          <img ng-click="playVideo(cameras[0].get('url'));" src="img/Live-Video.png" class="center-block">
        </div>
      </div>
      <div class="row" style="padding-top:50px" ng-if="userType == 1">
        <div class="col col-33" ng-if="camerasAdminSize >= 1">
          <p style="color:white" class="text-center">Camera 1</p>
          <img ng-click="playVideo(camerasAdmin[0].get('url'));" src="img/Live-Video.png" class="center-block">
        </div>
        <div class="col col-33" ng-if="camerasAdminSize >= 2">
          <p style="color:white" class="text-center">Camera 2</p>
          <img ng-click="playVideo(camerasAdmin[1].get('url'));" src="img/Live-Video.png" class="center-block">
        </div>
        <div class="col col-33" ng-if="camerasAdminSize >= 3">
          <p style="color:white" class="text-center">Camera 3</p>
          <img ng-click="playVideo(camerasAdmin[2].get('url'));" src="img/Live-Video.png" class="center-block">
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="imagen.html" type="text/ng-template">
  <ion-modal-view>
    <ion-content style="background-color: black">
      <i class="icon ion-close" style="color:white; float:right; padding-bottom: 150px; padding-right: 5px; font-size: 25px; padding-top: 5px" ng-click="closeModal()"></i>
      <img src="https://pbs.twimg.com/profile_images/2586664217/o78k5fogx5g3hdy6peai.jpeg" alt="" class="img-responsive">
      <div class="padding">
      <p style="color: white; font-size: 18px"><strong>Robin Hood</strong> en el <strong>Parque Loro</strong> momentos antes de conocer a su padre adoptivo</p>
      <i class="icon ion-share" style="color:white; float:right; padding-bottom: 150px; padding-right: 5px; font-size: 35px; padding-top: 5px" ng-click="closeModal()"></i>
      <i class="icon ion-ios-cloud-download" style="color:white; float:right; padding-bottom: 150px; padding-right: 15px; font-size: 35px; padding-top: 5px" ng-click="download()"></i>
    </ion-content>
  </ion-modal-view>
</script>
