<ion-view title="My Adoptions">
  <ion-content>
    <div ng-if="adoptions != 0">
    	<div class="list">
		    <a class="item item-thumbnail-left" ng-repeat="adoption in adoptions" href="#/bondzu/adoption/{{adoption.id}}">
		      <img class="img-responsive img-circle img-adoptions" src="{{fotos[$index].url}}">
		      <h2 class="adoption-name">{{adoption.get('name')}}</h2>
		      <h2>{{adoption.get('species')}}</h2>
          <h2 class="adoption-zoo">Parque Loro, Puebla, México</h2>
          <i class="icon ion-videocamera adoption-camera"></i>
		    </a>
		</div>
    </div>
    <div ng-if="adoptions == 0">
    	<div class="no-animals">
        <p>Please login to see your adoptions</p>
      </div>
    </div>
  </ion-content>
</ion-view>
