<ion-view title="Account">
  	<ion-content class="padding">
  		<h1>Account</h1>
  		<button class="button button-block button-positive" ng-click="playVideo('http://wpc.50C7.sigmacdn.net/hls-live/2050C7/beczbziul/bondzu-stream-test_/bondzu-stream-test_,428,778,278,.m3u8')">
        	Ver video prueba Bondzu
        </button>
        <button class="button button-block button-positive" ng-click="playVideo('http://qthttp.apple.com.edgesuite.net/1010qwoeiuryfg/sl.m3u8')">
        	Ver video
        </button>
	</ion-content>
</ion-view>