<ion-tabs class="tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab icon="icon ion-home" href="#/bondzu/catalog">
    <ion-nav-view name="bondzu-catalog"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="icon ion-heart" href="#/bondzu/adoptions">
    <ion-nav-view name="bondzu-adoptions"></ion-nav-view>
  </ion-tab>
  <!--
  <ion-tab icon="icon ion-star" href="#/bondzu/adoptions">
    <ion-nav-view name="bondzu-adoptions"></ion-nav-view>
  </ion-tab>-->
  <ion-tab icon="icon ion-person" href="#/bondzu/account">
  	<ion-nav-view name="bondzu-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>