<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ng cordova js -->
    <script src="lib/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="lib/PushNotification.js"></script>
    <script src="lib/video.js"></script>

    <!-- Parse -->
    <script src="lib/parse-1.3.2.js"></script>
    <script>
      var PARSE_APP = "jhTh4SWoNgoUQDan04oOPnKqVs0aIPTsw7djH0Da";
      var PARSE_JS  = "TKcu3RSOCvYeapuM79Gye7EAlsMtYjj7cZVlaOjn";
      Parse.initialize(PARSE_APP, PARSE_JS);
    </script>

    <!-- your app's js -->
    <script src="lib/PushNotification.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="lib/calendar.js"></script>
  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">
    <!-- 
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
    
    
    <!-- 
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
    <div id="fb-root"></div>
    <script src="lib/facebookConnectPlugin.js"></script>
    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-content style="background-color: black">
          <i class="icon ion-close" style="color:white; float:right; padding-bottom: 150px; padding-right: 5px; font-size: 25px; padding-top: 5px" ng-click="closeModal()"></i>
          <img src="https://pbs.twimg.com/profile_images/2586664217/o78k5fogx5g3hdy6peai.jpeg" alt="" class="img-responsive">
          <div class="padding">
          <p style="color: white; font-size: 18px"><strong>Robin Hood</strong> en el <strong>Parque Loro</strong> momentos antes de conocer a su padre adoptivo</p>
          <i class="icon ion-share" style="color:white; float:right; padding-bottom: 150px; padding-right: 5px; font-size: 35px; padding-top: 5px" ng-click="closeModal()"></i>
          <i class="icon ion-ios-cloud-download" style="color:white; float:right; padding-bottom: 150px; padding-right: 15px; font-size: 35px; padding-top: 5px" ng-click="download()"></i>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>