/* Empty. Add your own CSS if you like */
body, h1, h2, h3, h4, p, strong {
	font-family: 'Abel', sans-serif;
}


.centered {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.tabs {
	border-color: #FFB921 !important;
	background-color: #FFB921 !important;
}

.tabs i, span {
	color: white !important;
}

.bar.bar-stable {
	border-color: #FFB921 !important;
	background-color: #FFB921 !important;
	background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
	color: #444;
}

.bar-stable .button {
	border-color: #b2b2b2;
	background-color: #f8f8f8;
	color: white;
}

.bar.bar-stable .title {
	color: white !important;
}

.item-bondzu{
	border-color: #FFB921;
	border-radius: 10px;
}

.photo {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  	font-size: 20px;
  	color: #FFC649; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	font-size: 20px;
  	color: #FFC649; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  	font-size: 20px;
  	color: #FFC649;
  	text-indent: 0; }

.button {
	border-radius: 10px;
}

.animal {
	width: 100%;
	max-height: 380px;
	position: relative;
}

.animal cite {
	background: #001504;
	filter:alpha(opacity=70);
	opacity: .70;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px;
	border-top: 1 px solid #999;
	font-size: 20px;q
}



.img-back {
	background-position: center;
	background-size: 100%;
	width: 100%;
	min-height: 190px;
}

.img-back h1 {
	margin-top: 10px;
	color: white;
	font-weight: 900;
}

.img-back h2 {
	color: white;
}

.img-responsive {
  	display: block;
  	height: auto;
  	max-width: 100%;
}

.img-circle {
  	border-radius: 50%;
}

.img-profile {
	margin-top: 10px;
	min-width: 100%;
	height: auto;
	vertical-align: middle;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #dddddd;
	border: 1px solid #dddddd;
	-webkit-transition: all 0.2s ease-in-out;
	      transition: all 0.2s ease-in-out;
}

.tabs-animal {
	position: relative;
	border-color: #F5F5F5;
	background-color: #FCFCFC;
	height: auto;
}

.tabs-animal i {
	color: #FFB921;
}

.tabs-animal-color {
	font-weight: 600;
	color: #FFB921;
}

.information h3 {
	color: #A4A4A4;
	font-weight: bold;
}

.info {
	padding-left: 10px;
}

.titulo-info {
	color: #17B585;
	font-size: 17px;
	font-weight: 600;
	display: inline;
}

.info-info {
	font-size: 17px;
	display: inline;
}

.video { 
	position: relative; 
	display: inline-block;
}

.play {
	background-image: url('../img/play.png');
	background-size: 90px 90px;
	background-repeat: no-repeat;
   	margin: -240px 60px 0px 140px;
    height: 140px;
    position: relative;
    z-index: 10;
}

/*CALENDAR*/
.cal {
	width: 100%;
}

.cal-title {
	background-color: #17B585;
	height: auto;
}

.cal-title h3 {
	vertical-align: middle;
	text-align: center;
	color: white;
}

.cal-day-name p {
	text-align: center;
	vertical-align: middle;
	color: #FFB921;
	font-weight: bold;
	font-size: 15px;
}

.border {
	border: solid;
	border-width: 1px;
	background-color: #6D6D6D;
}

.border p {
	vertical-align: middle;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.marked-day {
	background-color: #FFB921;
}